<div class="header" ps-container>
  <div ps-row>

    <div ps-column ps-mobile="4" ps-tablet="1" ps-desktop-sm="1" ps-desktop-lg="1">
      <div class="logo">
        <img src="assets/logo-porto-seguro.png">
      </div>
    </div> 

    <div class="login" ps-column ps-mobile="4" ps-tablet="11" ps-desktop-sm="11" ps-desktop-lg="11">
      <div class="login_btn">
        <ps-ico ps-type="ps-glyph" ps-size="sm" ps-ico="lock" ps-color="seguros"></ps-ico> Login
      </div>
    </div>

    <div ps-column ps-mobile="8" ps-tablet="12" ps-desktop-sm="12" ps-desktop-lg="12">
      <hr>
    </div>

    <div class="sub-menu" ps-column ps-mobile="8" ps-tablet="12" ps-desktop-sm="12" ps-desktop-lg="12">
      <ul>
        <li><h4>Produtos</h4></li>
        <li><h4>Atendimento</h4></li>
        <li><button ps-btn>Quero Contratar</button></li>
      </ul>
    </div>

    <div ps-column ps-mobile="8" ps-tablet="12" ps-desktop-sm="12" ps-desktop-lg="12">
      <hr>
    </div>

  </div> 
</div>