.areas-externas {
    position: absolute;
    display: flex;
    justify-content: center;
    margin: 0;
    padding-top: 2rem;
    width: 100%;
    height: 120px;
    background: rgb(50,197,250);
    background: linear-gradient(331deg, rgba(50,197,250,1) 0%, rgba(62,173,248,1) 100%);
    color: white;
    transition: .7s;

    h4:before {
        content: "___";
        color: white;
        font-size: 3rem;
        width: 200px;
        font-weight: 800;
        position: absolute;
        margin-top: -68px;
        margin-left: 18px;
        opacity: .6;
    }
}

.active {
    position: absolute;
    height: 400px;
    margin-top: -300px;
}