/* You can add global styles to this file, and also import other style files */


/* Cores Guide Porto */

$intitucional-blue-primary-01: #00adef;
$intitucional-blue-primary-02: #018cb7;
$intitucional-blue-primary-03: #004e70;